Serveur/BanqueService/src/banque/BanqueService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8081/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getComptes">
<part name="parameters" element="tns:getComptes"></part>
</message>
<message name="getComptesResponse">
<part name="parameters" element="tns:getComptesResponse"></part>
</message>
<message name="addComptes2">
<part name="parameters" element="tns:addComptes2"></part>
</message>
<message name="addComptes2Response">
<part name="parameters" element="tns:addComptes2Response"></part>
</message>
<message name="addCompte2">
<part name="parameters" element="tns:addCompte2"></part>
</message>
<message name="addCompte2Response">
<part name="parameters" element="tns:addCompte2Response"></part>
</message>
<message name="addComptes">
<part name="parameters" element="tns:addComptes"></part>
</message>
<message name="addComptesResponse">
<part name="parameters" element="tns:addComptesResponse"></part>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"></part>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"></part>
</message>
<message name="addCompte">
<part name="parameters" element="tns:addCompte"></part>
</message>
<message name="addCompteResponse">
<part name="parameters" element="tns:addCompteResponse"></part>
</message>
<message name="ConversionEuroToDollar">
<part name="parameters" element="tns:ConversionEuroToDollar"></part>
</message>
<message name="ConversionEuroToDollarResponse">
<part name="parameters" element="tns:ConversionEuroToDollarResponse"></part>
</message>
<portType name="BanqueService">
<operation name="getComptes">
<input wsam:Action="http://ws/BanqueService/getComptesRequest" message="tns:getComptes"></input>
<output wsam:Action="http://ws/BanqueService/getComptesResponse" message="tns:getComptesResponse"></output>
</operation>
<operation name="addComptes2">
<input wsam:Action="http://ws/BanqueService/addComptes2Request" message="tns:addComptes2"></input>
<output wsam:Action="http://ws/BanqueService/addComptes2Response" message="tns:addComptes2Response"></output>
</operation>
<operation name="addCompte2">
<input wsam:Action="http://ws/BanqueService/addCompte2Request" message="tns:addCompte2"></input>
<output wsam:Action="http://ws/BanqueService/addCompte2Response" message="tns:addCompte2Response"></output>
</operation>
<operation name="addComptes">
<input wsam:Action="http://ws/BanqueService/addComptesRequest" message="tns:addComptes"></input>
<output wsam:Action="http://ws/BanqueService/addComptesResponse" message="tns:addComptesResponse"></output>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/BanqueService/getCompteRequest" message="tns:getCompte"></input>
<output wsam:Action="http://ws/BanqueService/getCompteResponse" message="tns:getCompteResponse"></output>
</operation>
<operation name="addCompte">
<input wsam:Action="http://ws/BanqueService/addCompteRequest" message="tns:addCompte"></input>
<output wsam:Action="http://ws/BanqueService/addCompteResponse" message="tns:addCompteResponse"></output>
</operation>
<operation name="ConversionEuroToDollar">
<input wsam:Action="http://ws/BanqueService/ConversionEuroToDollarRequest" message="tns:ConversionEuroToDollar"></input>
<output wsam:Action="http://ws/BanqueService/ConversionEuroToDollarResponse" message="tns:ConversionEuroToDollarResponse"></output>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getComptes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addComptes2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addCompte2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addComptes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addCompte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConversionEuroToDollar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BanqueWs">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8081/"></soap:address>
</port>
</service>
</definitions>