Serveur/ServeurWeb/BanqueWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- édité avec XMLSpy v2018 sp1 (x64) (http://www.altova.com) par chebbi (M2I) -->
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="BanqueWs" targetNamespace="http://ws/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8081/?xsd=1"/>
		</xsd:schema>
	</types>
	<message name="ConversionEuroToDh">
		<part name="parameters" element="tns:ConversionEuroToDh"/>
	</message>
	<message name="ConversionEuroToDhResponse">
		<part name="parameters" element="tns:ConversionEuroToDhResponse"/>
	</message>
	<message name="getCompte">
		<part name="parameters" element="tns:getCompte"/>
	</message>
	<message name="getCompteResponse">
		<part name="parameters" element="tns:getCompteResponse"/>
	</message>
	<message name="getComptes">
		<part name="parameters" element="tns:getComptes"/>
	</message>
	<message name="getComptesResponse">
		<part name="parameters" element="tns:getComptesResponse"/>
	</message>
	<portType name="BanqueService1">
		<operation name="ConversionEuroToDh">
			<input message="tns:ConversionEuroToDh" wsam:Action="http://ws/BanqueService/ConversionEuroToDhRequest"/>
			<output message="tns:ConversionEuroToDhResponse" wsam:Action="http://ws/BanqueService/ConversionEuroToDhResponse"/>
		</operation>
		<operation name="getCompte">
			<input message="tns:getCompte" wsam:Action="http://ws/BanqueService/getCompteRequest"/>
			<output message="tns:getCompteResponse" wsam:Action="http://ws/BanqueService/getCompteResponse"/>
		</operation>
		<operation name="getComptes">
			<input message="tns:getComptes" wsam:Action="http://ws/BanqueService/getComptesRequest"/>
			<output message="tns:getComptesResponse" wsam:Action="http://ws/BanqueService/getComptesResponse"/>
		</operation>
	</portType>
	<binding name="BanqueServicePortBinding" type="tns:BanqueService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ConversionEuroToDh">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getCompte">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getComptes">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="BanqueWs">
		<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
			<soap:address location="http://localhost:8081/"/>
		</port>
	</service>
</definitions>
