annuaire4.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xs:element name="annuaire" type="annuaire"/>
	<xs:complexType name="annuaire">
		<xs:sequence>
			<xs:element name="code" type="xs:integer"/>
			<xs:element name="dateCreation" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="numero" type="xs:integer"/>
			<xs:element name="nom" type="xs:string"/>
			<xs:element name="prenom" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
