compte3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xs:element name="compte" type="compte"/>
	<xs:complexType name="compte">
		<xs:sequence>
			<xs:element name="code" type="xs:int"/>
			<xs:element name="dateCreation" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="solde" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
