banqueWeb/src/mypackage/BanqueWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8081/?xsd=1"/>
</xsd:schema>
</types>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="getComptes">
<part name="parameters" element="tns:getComptes"/>
</message>
<message name="getComptesResponse">
<part name="parameters" element="tns:getComptesResponse"/>
</message>
<message name="addComptes">
<part name="parameters" element="tns:addComptes"/>
</message>
<message name="addComptesResponse">
<part name="parameters" element="tns:addComptesResponse"/>
</message>
<message name="addComptes2">
<part name="parameters" element="tns:addComptes2"/>
</message>
<message name="addComptes2Response">
<part name="parameters" element="tns:addComptes2Response"/>
</message>
<message name="ConversionEuroToDollar">
<part name="parameters" element="tns:ConversionEuroToDollar"/>
</message>
<message name="ConversionEuroToDollarResponse">
<part name="parameters" element="tns:ConversionEuroToDollarResponse"/>
</message>
<message name="addCompte">
<part name="parameters" element="tns:addCompte"/>
</message>
<message name="addCompteResponse">
<part name="parameters" element="tns:addCompteResponse"/>
</message>
<message name="addCompte2">
<part name="parameters" element="tns:addCompte2"/>
</message>
<message name="addCompte2Response">
<part name="parameters" element="tns:addCompte2Response"/>
</message>
<portType name="BanqueService">
<operation name="getCompte">
<input wsam:Action="http://ws/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="getComptes">
<input wsam:Action="http://ws/BanqueService/getComptesRequest" message="tns:getComptes"/>
<output wsam:Action="http://ws/BanqueService/getComptesResponse" message="tns:getComptesResponse"/>
</operation>
<operation name="addComptes">
<input wsam:Action="http://ws/BanqueService/addComptesRequest" message="tns:addComptes"/>
<output wsam:Action="http://ws/BanqueService/addComptesResponse" message="tns:addComptesResponse"/>
</operation>
<operation name="addComptes2">
<input wsam:Action="http://ws/BanqueService/addComptes2Request" message="tns:addComptes2"/>
<output wsam:Action="http://ws/BanqueService/addComptes2Response" message="tns:addComptes2Response"/>
</operation>
<operation name="ConversionEuroToDollar">
<input wsam:Action="http://ws/BanqueService/ConversionEuroToDollarRequest" message="tns:ConversionEuroToDollar"/>
<output wsam:Action="http://ws/BanqueService/ConversionEuroToDollarResponse" message="tns:ConversionEuroToDollarResponse"/>
</operation>
<operation name="addCompte">
<input wsam:Action="http://ws/BanqueService/addCompteRequest" message="tns:addCompte"/>
<output wsam:Action="http://ws/BanqueService/addCompteResponse" message="tns:addCompteResponse"/>
</operation>
<operation name="addCompte2">
<input wsam:Action="http://ws/BanqueService/addCompte2Request" message="tns:addCompte2"/>
<output wsam:Action="http://ws/BanqueService/addCompte2Response" message="tns:addCompte2Response"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addComptes2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConversionEuroToDollar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCompte2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWs">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8081/"/>
</port>
</service>
</definitions>